.btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-family: GothamPro, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: #fad64e;
  color: #3f3f3f;
  border: none;
  border-radius: 2.8rem;
  transition: transform .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-transform .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  will-change: transform;
}

.btn:disabled {
  background: #ccc!important;
  border: 1px solid #ccc;
  color: #000;
  cursor: not-allowed;
}

.btn:active {
  transition: transform .1s ease-in-out,box-shadow .1s ease-in-out!important;
  transform: none!important;
  box-shadow: none!important;
}

.btn:hover {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  transform: translateY(-1px);
}
