.game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background: #ccc;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}
