extends templates/layouts/default

block variables

  - var pageTitle = "Заготовка";

block description

  meta(name="author" content="Abraklion")
  meta(name="description" content="Описание")

block content

  h1.test999 Прив!ет
  h1.test999 Мидвед
